*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	background-color: #FEEAC9;
	background-image: url(dots_bg.png);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.headers1{
	font-family: "Press Start 2P", system-ui;
	font-size: 2vw;
}

/*MAIN_SCREEN*/

#main_screen_bottom{
	text-align: center;
}

#main_screen_bottom img{
	height: 10vw;
	margin: 0vw 8vw 0vw 8vw;
}

#main_title{
	display: grid;
	place-items: center;
}

#main_title img{
	height: 18vw;
}

#main_screen button{
	font-family: "Press Start 2P", system-ui;
	padding: 2vw;
	margin: 3vw;
	width: 20vw;
	border: none;
	border-radius: 4vw;
	background-color: #FDACAC;
	font-size: 2vw;
}

#main_screen button:hover {
	cursor: pointer;
	background-color: #FDACAC;
	color: wheat;
	border: solid 0.3vw #FD7979;
}

/*AGE_SCREEN*/

#age_select_scr{
	display: none;
	place-items: center;
	margin: 2vw;
}

#age_select_scr input{
	height: 6vw;
	margin: 3vw 0 0 0vw;
	width: 15vw;
	border-radius: 1vw;
	border: solid pink;
	text-align: center;
	font-size: 3vw;
	font-family: 'Press Start 2P';
}

#age_select_scr button{
	padding: 1vw;
	border-radius: 1vw;
	border: solid #FD7979;
	background-color: #FDACAC;
	font-family: 'Press Start 2P';
	font-size: 3vw;
}

#age_select_scr button:hover {
	cursor: pointer;
	background-color: #FDACAC;
	color: wheat;
	border: solid #FD7979;
}

#age_select_scr button:focus {
	border: solid #FD7979;
}

/*FROSTING_SCREEN*/

#frosting_select_scr{
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 3vw;
}

#frostings_container{
	justify-content: center;
}

#frosting_select_scr img{
	height: 5vw;
	text-align: center;
	margin: 2vw;
	padding: 3vw;
	background: #FDACAC;
	border: solid #FDACAC;
	border-radius: 2vw;
}

#frosting_select_scr img:hover{
	cursor: pointer;
	background-color: #FDACAC;
	color: wheat;
	border: solid #FD7979;
}

#frostins_container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#frostings_container h1 {
	font-size: 0.8vw;
	font-family: 'Press Start 2P';
}

/*BAKING_SCREEN*/

#baking_screen{
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#baking_screen h1{
	margin: 3vw;
}

#baking_screen img{
	height: 20vw;
}

#baking_screen button{
	display: none;
	margin: 2vw;
	padding: 1vw;
	border-radius: 1vw;
	border: solid #FD7979;
	background-color: #FDACAC;
	font-family: 'Press Start 2P';
	font-size: 3vw;
}

#baking_screen button:hover {
	cursor: pointer;
	background-color: #FDACAC;
	color: wheat;
	border: solid #FD7979;
}

/*CAKE_SCREEN*/

#cake_screen{
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#final_cake{
	height: 20vw;
}

#final_cake:hover{
	cursor: pointer;
}

#final_cake:active {
	height: 19.5vw;
}
